/*****TODO
1320 MAX WIDTH
TRY 2FR AND 1FR***/
/* import FacebookIcon from @mui/icons-material/Facebook; */

*:root {
    --primary-color: #00356b;
    --secondary-color: #286dc0;
    --grey-color: #7e736b;
    --dark-color: #222;
    --dark-gray: #4a4a4a;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Pro', serif;

}

p {
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
}

.btn {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-decoration: none;
    padding:10px;
    margin:1px;
    text-transform: uppercase;
}

.btn.drop-down .icon {
    font-size: 0.5rem;
}

.btn-secondary {
    background-color: var(--dark-gray);
    color:white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 2rem 0;
}

header .btn.btn.drop-down {
    background-color: var(--primary-color);
    color: white;
}

header .navbars {
    display: flex;
    flex-direction: column;
}

header .navbars {
    margin-left: auto
}

header nav {
    display: flex;
    flex-direction: row;
    margin-left:auto;
}

header nav.secondary a {
    font-size: 0.8rem;
    display:block;
    padding:1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    color: var(--secondary-color)
}

header .btn-white{
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    border: 1px solid #ddd;
    background-color: #fff;
    color: var(--primary-color);
    position: relative;
    height: 50px;
}

header nav.main {
    display: flex;
}

header nav.main .main_nav_item {
    padding: 1rem;
}

.main_nav_item {
    position: relative;
}

.main_nav_link {
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    position: relative;
    z-index: 5;
    box-shadow: inset 4px 0 0 transparent, inset 0 1px 0 transparent, inset -1px 0 0 transparent;
    transition: all .25s .1s;
}

.main_nav_child {
    background-color: #fff;
    display: block;
    width: 285px;
    position: absolute;
    left: 0;
    z-index: 1;
    box-shadow: inset 4px 0 0 var(--primary-color), inset 0 1px 0 #ddd, inset -1px 0 0 #ddd, inset 0 -1px 0 #ddd;
    margin-top: -1px;
    padding: 26px 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s .1s,visibility .25s .1s;
}

.main_nav_link:hover + .main_nav_child, .main_nav_child:hover {
    opacity: 1;
    visibility: visible;
}

.main_nav_item:last-child .main_nav_child {
    right: 0;
    left: auto;
    box-shadow: inset -4px 0 0 var(--primary-color), inset 0 1px 0 #ddd, inset 1px 0 0 #ddd, inset 0 -1px 0 #ddd;
}

.hero {
    display: grid;
    grid-template-rows: 60px 1fr 60px ;
    grid-template-columns: 20% 30% 25% 25% ;
}

.hero .text {
    background-color: rgba(255,255,255,0.7);
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
}

.hero .image {
    background-color: gold;
    grid-column: 2/5;
    grid-row:1/5;
}


.hero .image img {
    width: 100%;
}

.hero .feature-archive {
    grid-row: 3;
    grid-column: 4;
    background-color:var(--grey-color);
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    text-decoration: none;;
}

.headings {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
}

.headings h3 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: "Arial";
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.headings h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 100;;
}

/***GRID***/

.items-container {
    background-color: var(--primary-color);
    width: 100%;
}

.items {
    display: grid;
    /*ORIGINAL .8 F AND 1 FR*/
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr;
    position: relative;
    top: -50px;
    max-width: 1300px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.item {
    /* border: 2px solid orange; */
    color: white;
    display: flex;
    flex-direction: column;
}

.exploreng {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-color);
    text-transform: capitalize;
}

.explore p {
    color: white;
}

.explore-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1;
    /* font-size: 0.7rem; */
    align-items: center;
    text-transform: lowercase;
}

.item-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: white;
    color: var(--secondary-color);
    width: 200px;
    transition: all .2s ease-in;
}

.item-btn .icon {
    font-size: 0.5rem;
}

.item-btn-blue {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:1px;
    text-transform: uppercase;
    font-size: .9rem;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    border: 1px solid #ddd;
    color: white;
    width: 200px;
    transition: all .2s ease-in;

}

.item-btn:hover {
    color: black;
}

.item-btn-blue:hover {
    background-color:var(--primary-color);
    border: 1px solid var(--primary-color); 
}

#refresh {
    /* font-size: .9rem; */
    margin-right: 10px;
    transition: 2s linear;
}

.item-btn-blue:hover #refresh {
    -webkit-transform: rotateZ(720deg);
      -moz-transform: rotateZ(720deg);
      transform: rotateZ(720deg);
}

#horizontal-rule {
    /* font-size: .5rem; */
    margin-right: 10px;
    margin-left: 10px;
}

.g-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.g-2 {
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url("/images/kale-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    background-size: cover;
    z-index:1;
    text-shadow: 2px 2px 4px #000000;
}
.g-3 {
    grid-column: 3/7;
    grid-row: 1/5;
    background-image: url("/images/kale-3.jpeg");
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 4px #000000;

}
.g-4 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-shadow: 2px 2px 4px #000000;
}
.g-5 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url("/images/kale-5-original.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    text-shadow: 2px 2px 4px #000000;
}

.item-text {
    z-index: 1;
    transition: all 0.2s ease-in;
}

.overlay-5 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #bd5319;
    opacity: .6;
}   
.g-6 {
    grid-column: 1/4;
    grid-row: 4/6;
    background-image: url("/images/kale-10-new.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 4px #000000;
}
.overlay-6{
    grid-column: 1/4;
    grid-row: 4/6;
    background-color: var(--dark-gray);
    opacity: .6;
    
} 

.g-7 { 
    grid-column: 4/5;
    grid-row: 4/5;
    background-image: url("/images/kale-7-resize.jpeg");
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 4px #000000;
}
.overlay-7 {
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: #5F712d;
    opacity: .6;
}   
.g-8 {
    grid-column: 5/6;
    grid-row: 4/5;
    background-image: url("/images/kale-8.jpeg");
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    background-size: cover;
    text-shadow: 2px 2px 4px #000000;
}
.g-9 {
    grid-column: 4/5;
    grid-row: 5/6;
    text-shadow: 2px 2px 4px #000000;
}
.g-10 {
    grid-column: 5/6;
    grid-row: 5/6;
    background-image: url("/images/kale-10.jpeg");
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    background-size: cover;
    text-shadow: 2px 2px 4px #000000;
}

.small {
    justify-content: end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
}

.small h2 {
    margin-bottom: 20px;
}

.small p {
    text-transform: uppercase;
}

.small:hover .item-text{
    transform: translateY(-10px);
}

.large-1 {
    padding-left: 15rem;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

#g-3-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.g-3 h2, .g-6 h2 {
    font-size: 2.5rem;;    
 }

 .g-3 p, .g-6 p {
    font-size: 1.3rem;
    line-height: 1.5rem;
 }

 .lg-btn {
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    border: 1px solid #ddd;
    background-color: transparent;
    color: white;
    width: 220px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    padding:10px;
    margin:1px;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;;
    
    transition: all .3s ease-in;

 }

 .lg-btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
 }

.large-2 {
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.large-2 .lg-btn {
    margin-top: 10px;
}

.large-1 p, .large-2 p {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/******FOOTER*****/
.footer {
    background-color: var(--dark-color);
    color: white;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer_nav_label {
    color: var(--secondary-color);
}

#h-line {
    color: var(--secondary-color);
}

.footer_nav_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-image img {
    height:250px;
}

.group-1 {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.group-2 {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.group-3 {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.social_properties {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.footer_legal {
    font-size: 1rem;
}
.footer_legal_copy, .footer_legal_rights, .dot {
    color: var(--grey-color);
    margin-right:5px;
}

.region-footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}